 <main>
        <div class="card wide-middle">
            <div class="row between">
                <h3> Success </h3>
            </div>
            <hr>
            <img style="width: 150px; margin: 50px auto; " src="./148767.png" alt="">
            <h3 style="text-align: center;"> Your Suggestion has been accepted</h3>

        </div>
    </main>